@page "/"
@using System.Timers

<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var animal in shuffledAnimals)
        {
            <div class="col-md-3">
                <button @onclick="@(() => ButtonClick(animal))" type="button" class="btn btn-outline-dark">@animal</button>
            </div>
        }
    </div>
    <h2>Matches found: @matchesFound</h2>
    <h3>Time: @timeDisplay</h3>
</div>

@code {
    List<string> animalEmoji = new List<string>()
{
               "🐶","🐶",
               "🐺","🐺",
               "🐮","🐮",
               "🦊","🦊",
               "🐱","🐱",
               "🦁","🦁",
               "🐯","🐯",
               "🐹","🐹",
            };

    List<string> shuffledAnimals = default;
    string lastAnimalFound = string.Empty;
    int matchesFound = 0;
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string timeDisplay;

    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;

        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();

        matchesFound = 0;

        tenthsOfSecondsElapsed = 0;
    }

    private void ButtonClick(string animal)
    {
        if (lastAnimalFound == string.Empty)
        {
            //First selection of the pair. Remember it.
            lastAnimalFound = animal;
            timer.Start();
            return;
        }
        else if (lastAnimalFound == animal)
        {
            //Match found! Reset for next pair.
            lastAnimalFound = string.Empty;

            //Replace found animals with empty string to hide them
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();

            matchesFound++;
            if (matchesFound == 8)
            {
                timer.Stop();
                timeDisplay += " - Play Again?";
                SetUpGame();
            }
        }
        else
        {
            //User selected a pair that don't match.
            //Reset selection.
            lastAnimalFound = string.Empty;
        }
    }

    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            timeDisplay = (tenthsOfSecondsElapsed / 10F)
                .ToString("0.0s");
            StateHasChanged();
        });
    }
}